export(b.values)
export(extractAIC.remlf90)
export(get_ntraits)
export(get_ntraits.metagene)
export(get_pedigree)
export("[.metagene")
export("$<-.metagene")
export("$.metagene")
export(ngenerations)
export(ngenerations.metagene)
export(nindividuals)
export(nindividuals.metagene)
export(print.summary.metagene)
export(print.summary.remlf90)
export(ranef.remlf90)
export(read.metagene)
export(remlf90)
export(summary.remlf90)
S3method(as.data.frame,metagene)
S3method(as.data.frame,pedigree)
S3method(coef,remlf90)
S3method(extractAIC,remlf90)
S3method(fitted,remlf90)
S3method(get_pedigree,metagene)
S3method(plot,metagene)
S3method(ranef,remlf90)
S3method(sim.spatial,metagene)
S3method(summary,metagene)
