S3method(as.data.frame,metagene)
S3method(as.data.frame,pedigree)
S3method(coef,remlf90)
S3method(extractAIC,remlf90)
S3method(fitted,remlf90)
S3method(fixef,remlf90)
S3method(get_pedigree,metagene)
S3method(logLik,remlf90)
S3method(model.frame,remlf90)
S3method(model.matrix,remlf90)
S3method(nobs,remlf90)
S3method(plot,metagene)
S3method(plot,remlf90)
S3method(ranef,remlf90)
S3method(residuals,remlf90)
S3method(sim.spatial,metagene)
S3method(summary,metagene)
S3method(summary,remlf90)
S3method(vcov,remlf90)
export("$.metagene")
export("$<-.metagene")
export("[.metagene")
export(b.values)
export(breedR.getOption)
export(breedR.setOption)
export(build_pedigree)
export(check_pedigree)
export(compare.plots)
export(extractAIC.remlf90)
export(fitted.remlf90)
export(fixef.remlf90)
export(get_ntraits)
export(get_ntraits.metagene)
export(get_pedigree)
export(logLik.remlf90)
export(model.frame.remlf90)
export(model.matrix.remlf90)
export(ngenerations)
export(ngenerations.metagene)
export(nindividuals)
export(nindividuals.metagene)
export(nobs.remlf90)
export(plot.remlf90)
export(print.summary.metagene)
export(print.summary.remlf90)
export(ranef.remlf90)
export(read.metagene)
export(remlf90)
export(residuals.remlf90)
export(summary.remlf90)
export(vcov.remlf90)
