export(as.data.frame.metagene)
export(as.data.frame.pedigree)
export(b.values)
export(fitted.remlf90)
export("[.metagene")
export("$<-.metagene")
export("$.metagene")
export(ngenerations)
export(ngenerations.metagene)
export(nindividuals)
export(nindividuals.metagene)
export(ntraits)
export(ntraits.metagene)
export(pedigree)
export(pedigree.default)
export(pedigree.metagene)
export(plot.metagene)
export(print.summary.metagene)
export(print.summary.remlf90)
export(remlf90)
export(summary.metagene)
export(summary.remlf90)
