    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github_username %}
        <p class="copyright">
          BreedR maintained by 
          <a href="https://github.com/{{ site.github_username }}">
             <span class="username">
              {{ site.github_username }}
             </span>
            </a>
            </p>
          {% endif %}
       <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>


